body {
	background-color: magenta;
	color: cyan;

}

h1 {
	font-family: 'Comic Sans', sans-serif;
	font-size: 5em;
	margin-top: 100px;
	text-shadow: 	90px 70px 0 lime, 
								220px -40px 0 yellow, 
								-320px 120px 0 red, 
								-520px 250px 0 cyan, 
								520px 420px 0 tomato, 
								200px 220px 0 whitesmoke, 
								-220px 420px 0 green, 
								-180px -120px 0 orange, 
								320px 320px 0 lime, 
								420px 150px 0 orange;
	text-align: center;
}