article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.cover {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

@font-face {
  font-family: 'open sans cond';
  src: url("fonts/OpenSans-CondBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.button, .cta-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding: 16px 20px;
  text-transform: uppercase;
  text-align: center; }

.cta-button {
  display: block;
  margin: 8px auto;
  max-width: 380px;
  border: none; }
  .cta-button.stretched {
    max-width: 100%; }
  .cta-button.dark {
    background-color: #444;
    color: #fff; }
    .cta-button.dark:hover {
      background-color: #333; }
    .cta-button.dark p {
      color: #fff;
      margin: 0; }

.panel {
  background-color: #fff;
  padding: 2em 4em;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1); }

* {
  box-sizing: border-box;
  text-decoration: none; }

html, body {
  height: 100%; }

html {
  overflow: hidden; }

body {
  min-height: 100%;
  background-color: whitesmoke;
  position: relative;
  color: #444;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

p {
  font-size: 1.2em; }

h2 {
  font-size: 1.8em; }

body.no-scroll,
html.no-scroll {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden; }

a {
  text-decoration: none;
  color: #444; }

ul {
  padding-left: 0;
  list-style: none; }

fieldset {
  border: none; }

.centered {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.hidden {
  display: none !important; }

.page-wrap {
  position: relative;
  z-index: 5;
  padding-bottom: 40px; }
  .page-wrap .bottom-shadow {
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    width: 100%; }

.header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 60px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  z-index: 200; }
  .header .grid-container {
    height: 100%; }
  .header .icon {
    display: inline-block; }
    .header .icon i {
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease;
      color: white;
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
      line-height: 60px;
      height: 60px; }
  .header .landing-footer-content i {
    color: #00c8b4; }

.footer-fix {
  height: 60px; }

.footer {
  height: 60px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200; }

.grid-container {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative; }
  .grid-container:before, .grid-container:after {
    content: " ";
    display: table; }
  .grid-container:after {
    clear: both; }
  .grid-container .grid-row {
    margin-left: 0px; }
    .grid-container .grid-row:before, .grid-container .grid-row:after {
      content: " ";
      display: table; }
    .grid-container .grid-row:after {
      clear: both; }
    .grid-container .grid-row:first-child {
      margin-top: 0px; }

@media only screen and (min-width: 0px) {
  .grid-container {
    width: 100%;
    max-width: 100%; }
    .grid-container.fixed {
      width: 100%; }
    .grid-container .grid-row .small-1 {
      width: 8.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-2 {
      width: 16.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-3 {
      width: 25%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-4 {
      width: 33.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-5 {
      width: 41.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-6 {
      width: 50%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-7 {
      width: 58.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-8 {
      width: 66.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-9 {
      width: 75%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-10 {
      width: 83.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-11 {
      width: 91.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .small-12 {
      width: 100%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; } }
@media only screen and (min-width: 650px) {
  .grid-container {
    width: 100%;
    max-width: 626px; }
    .grid-container.fixed {
      width: 626px; }
    .grid-container .grid-row .medium-1 {
      width: 8.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-2 {
      width: 16.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-3 {
      width: 25%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-4 {
      width: 33.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-5 {
      width: 41.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-6 {
      width: 50%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-7 {
      width: 58.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-8 {
      width: 66.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-9 {
      width: 75%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-10 {
      width: 83.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-11 {
      width: 91.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .medium-12 {
      width: 100%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; } }
@media only screen and (min-width: 920px) {
  .grid-container {
    width: 100%;
    max-width: 910px; }
    .grid-container.fixed {
      width: 910px; }
    .grid-container .grid-row .large-1 {
      width: 8.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-2 {
      width: 16.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-3 {
      width: 25%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-4 {
      width: 33.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-5 {
      width: 41.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-6 {
      width: 50%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-7 {
      width: 58.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-8 {
      width: 66.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-9 {
      width: 75%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-10 {
      width: 83.33333%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-11 {
      width: 91.66667%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; }
    .grid-container .grid-row .large-12 {
      width: 100%;
      display: inline-block;
      float: left;
      padding-left: 0px;
      padding-top: 0px; } }
body {
  overflow: hidden;
  background-color: whitesmoke; }
  body .show-intro, body .show-content {
    cursor: pointer; }
    body .show-intro:hover, body .show-content:hover {
      font-size: 2.4em; }
  body .landing-container {
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    height: 100%; }
  body .page-wrap {
    box-sizing: border-box;
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    -ms-transition: all 0 ease;
    -o-transition: all 0 ease;
    transition: all 0 ease;
    height: 200%;
    width: 100%;
    padding-bottom: 0;
    position: relative; }
    body .page-wrap .content-wrapper {
      position: relative;
      height: 50%; }
    body .page-wrap .main {
      position: relative;
      height: 100%;
      padding-top: 60px; }
      body .page-wrap .main.animating-next {
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%); }
        body .page-wrap .main.animating-next .content.transitioner {
          -webkit-transform: translateX(100%);
          -moz-transform: translateX(100%);
          -ms-transform: translateX(100%);
          -o-transform: translateX(100%);
          transform: translateX(100%);
          display: block; }
      body .page-wrap .main.animating-prev {
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%); }
        body .page-wrap .main.animating-prev .content.transitioner {
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
          transform: translateX(-100%);
          display: block; }
      body .page-wrap .main .content {
        position: absolute;
        padding-top: 20px;
        padding-bottom: 40px;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: scroll; }
        body .page-wrap .main .content.transitioner {
          display: none; }
    body .page-wrap .landing {
      position: relative;
      -webkit-transition: margin-top 0.5s ease;
      -moz-transition: margin-top 0.5s ease;
      -ms-transition: margin-top 0.5s ease;
      -o-transition: margin-top 0.5s ease;
      transition: margin-top 0.5s ease;
      height: 50%;
      width: 100%;
      display: table;
      vertical-align: middle; }
      body .page-wrap .landing .cell {
        display: table-cell;
        vertical-align: middle; }
      body .page-wrap .landing .landing-content {
        vertical-align: middle;
        margin: 0 auto;
        width: 100%;
        text-align: center; }
  body .landing-footer-content, body .header-content {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    margin: 0 auto; }

body.content-landing.content {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }
  body.content-landing.content .page-wrap {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }

body.intro-landing.intro {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }
  body.intro-landing.intro .page-wrap {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }

.block-transition, .block-initial-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.block-initial-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }
  .block-initial-transition .page-wrap, .block-initial-transition .landing-footer-content, .block-initial-transition .header, .block-initial-transition i, .block-initial-transition .go-prev, .block-initial-transition .go-next {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important; }

body.intro {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  body.intro .header {
    background-color: rgba(0, 0, 0, 0.1); }
  body.intro .page-wrap {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0%, -60px);
    -moz-transform: translate(0%, -60px);
    -ms-transform: translate(0%, -60px);
    -o-transform: translate(0%, -60px);
    transform: translate(0%, -60px); }
  body.intro .landing-footer-content {
    transition-delay: 0.5s;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  body.intro .header-content {
    transition-delay: 0s;
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }

body.content {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  body.content .header {
    background-color: #ff5a6e; }
  body.content .page-wrap {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  body.content .landing-footer-content {
    transition-delay: 0s;
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  body.content .header-content {
    transition-delay: 0.5s;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

.landing {
  color: #fff;
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px);
  background-color: #244454; }
  .landing .page-icon-wrapper {
    display: inline-block; }
    .landing .page-icon-wrapper h4 {
      font-weight: normal; }
  .landing .page-icon {
    height: 100px; }
  .landing ul.social-icons {
    position: absolute;
    right: 0;
    margin: 0;
    top: 0;
    margin-right: 10px; }
    .landing ul.social-icons a {
      color: #00c8b4;
      opacity: 0.5; }
      .landing ul.social-icons a:hover {
        opacity: 0.8; }
    .landing ul.social-icons li {
      display: inline-block;
      margin: 5px;
      margin-top: 10px; }
  .landing a.about, .landing a.projects, .landing a.blog, .landing a.contact {
    font-weight: bold;
    margin: 10px;
    color: #e6e6e6; }

.page-colors body.page-about .header {
  background-color: #00c8b4; }

.page-colors body.page-contact .header {
  background-color: #e1c85a; }

.page-colors body.page-blog .header {
  background-color: #e15a6e; }

.page-colors body.page-projects .header {
  background-color: #964bc8; }

body.content.theme-1 .header {
  background-color: #ff5a6e; }
  body.content.theme-1 .header i {
    color: #fff; }

body.content.theme-2 .header {
  background-color: #286ea0; }
  body.content.theme-2 .header i {
    color: #c8c8c8; }

body.content.theme-3 .header {
  background-color: rgba(200, 230, 245, 0.1); }
  body.content.theme-3 .header i {
    color: #00c8b4; }

body.content.theme-4 .header {
  background-color: #64c8b4; }
  body.content.theme-4 .header i {
    color: #fff; }

body .go-prev, body .go-next {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-delay: 1s;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1em;
  height: 100%;
  width: 60px;
  position: absolute; }
  body .go-prev i, body .go-prev p, body .go-next i, body .go-next p {
    display: inline-block;
    vertical-align: middle; }
  body .go-prev i, body .go-next i {
    height: 60px;
    width: 60px;
    line-height: 60px; }
body .go-prev {
  left: 0;
  top: 0;
  margin-left: -60px; }
  body .go-prev:hover i {
    font-size: 1.4em; }
body .go-next {
  right: 0;
  top: 0;
  margin-right: -60px; }
  body .go-next:hover i {
    font-size: 1.4em; }
body.content .go-prev {
  margin-left: 0; }
  body.content .go-prev.hide {
    margin-left: -60px; }
body.content .go-next {
  margin-right: 0; }
  body.content .go-next.hide {
    margin-right: -60px; }

/*# sourceMappingURL=main.css.map */
